body {
    background-color: #FBFBFF;
    font-size: 20px;
}

body p {
    color: black;
    text-align: left;
}

body a {
    text-decoration: none;
}

body a:visited {
    color: blue;
}

#header, #content, #footer {
    padding: 10px;
    margin: 10px;
    border-radius: 25px;

    width: auto;

    color: #00FFFF;
}

#header {
    background-color: rgba(0, 0, 255, 95%);

    text-align: center;
}

#content {
    background-color: rgb(128, 128, 255, 95%);

    text-align: center;

    height: 80%;
    overflow: auto;
}

#footer {
    background-color: rgb(128, 128, 255, 95%);

    text-align: center;
}

#menu a {
    display: block;

    text-decoration: none;
    color: #00FFFF;
}

#menu > div {
    display: inline-block;

    margin: 10px;
    padding: 0 10px;

    width: 20%;
    border: 1px solid green;
    text-align: center;
    align-items: center;

    background-color: #8080FF;
}

#menu > div:hover {
    background-color: lightseagreen;
}
