<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Financial Control - About</title>

</head>
<body>
    <div id="header"></div>
    <div id="content">
        <h1>About page</h1>
        <h3>If you want to know more about this project you are welcome to visit <a href="https://github.com/greentech72/MyFinancialControl">GitHub</a> page.</h3>
        <h3>Project was developed as part of the educational course "A-Level" from NIX Solutions (Kharkiv, Ukraine).</h3>
        <h3>Project is created by Daniil Onishchenko.</h3>
    </div>
    <div id="footer"></div>

    <script src="/app.js"></script>
</body>
</html>