<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Financial Control - Home</title>

</head>
<body>
    <div id="header"></div>
    <div id="content">
        <h1>Welcome to My Financial Control - Best modern solution to control your personal finances</h1>
        <h3>If you want to perform fast statistics of your daily spending MFC is there for you.</h3>
        <h3>If you are new user the best you can do is <a href="/registration">register</a> new account.</h3>
        <h3>If not then <a href="/login">welcome back</a>.</h3>
        <h3>If you want to know more about the project please visit <a href="/about">about</a> page.</h3>
    </div>
    <div id="footer"></div>

    <script src="/app.js"></script>
</body>
</html>