<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MFC - Home</title>

  <script src="assets/js/app.js"></script>
</head>

<body>
  <header></header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="personal_page.html">
          <i class="bi bi-person-fill"></i>
          <span>Personal Page</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to My Financial Control - Best sollution to control your personal finances</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">MFC</h5>
              <p>My Financial Control is most optimized and secure place to store, analysis and visualize your financial statistics without any knowledge about economics, mathematic or programming. All you need to do is <a href="register.html">register</a> your first account now. If you already have an account you can simply <a href="login.html">login</a>.</p>
            </div>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p>Web resource was developed as part of Java-backend assessment for <a href="https://www.nixsolutions.com/">NIX-Solutions</a> (Kharkiv, Ukraine) in 2022 by Daniil Onishchenko.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Links</h5>
              <p>Useful links to know us better:</p>
              <a class="nav-link collapsed" href="https://github.com/greentech72/MyFinancialControl">
                <i class="bi bi-github"></i>
                <span>Github</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      
    </div>
  </footer><!-- End Footer -->

  <a><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>