<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MFC - Message</title>
</head>

<body>
  <main>
    <div class="container">
      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1 id="title" th:text="${title}">Error</h1>
        <h2 id="msg" th:text="${msg}">Something went wrong</h2>
        <a class="btn" th:href="${href}" th:text="${hrefMsg}" href="/">Home</a>
        <img src="/img/not-found.svg" class="img-fluid py-5" alt="msg page">
      </section>
    </div>
  </main>

  <script>
    var LOAD_NOTHING = true;
  </script>
  <script src="/js/app.js"></script>
</body>
</html>