<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MFC - Personal Page</title>
</head>
<body>
  <header></header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/s/">
          <i class="bi bi-person-fill"></i>
          <span>Personal Page</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li th:each="account : ${setOfAccounts}">
            <a th:href="'/s/account/' + ${account.get('id')}">
              <i class="bi bi-circle"></i>
              <span th:text="${account.get('title')}"></span>
            </a>
          </li>
        </ul>
      </li><!-- End Accounts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Persoanl Page</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <!-- Overview -->
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2 th:text="${name}"></h2>
              <h3 th:text="${email}"></h3>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Settings</button>
                </li>
              </ul>

              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Date of registration</h5>
                  <p th:text="${creation}"></p>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <form method="POST" action="" class="needs-validation" novalidate>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control" id="fullName" required>
                        <div class="invalid-feedback">Please provide a name</div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" required>
                        <div class="invalid-feedback">Please provide a valid email</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="password" type="password" class="form-control" id="newPassword" required>
                          <div class="invalid-feedback">Please provide a valid password</div>
                      </div>
                      <div class="text-center">
                        <br>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>
        </div>
      </div>

      <!-- Accounts -->
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Accounts</h5>

              <!-- Table with hoverable rows -->
              <h3 th:if="${setOfAccounts.isEmpty()}">No accounts found</h3>
              <table class="table table-hover" th:if="${!setOfAccounts.isEmpty()}">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Creation Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="account : ${setOfAccounts}">
                    <td><a th:text="${account.get('title')}" th:href="'/s/account/' + ${account.get('id')}"></a></td>
                    <td th:text="${account.get('balance')}"></td>
                    <td th:text="${account.get('creation')}"></td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New account</h5>

              <form action="/s/new_account_register" class="needs-validation" method="POST" novalidate>
                <label for="inpTitle" class="col-4 col-form-label">Title</label>
                <div class="col-md-8 col-lg-12">
                  <input name="title" type="text" class="form-control" id="inpTitle" required>
                  <div class="invalid-feedback">Please provide a title</div>
                </div>

                <div class="text-center">
                  <br>
                  <button type="button" class="btn btn-success btn-send-request">Create new account</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

      <!-- OperationTypes -->
      <div class="row">
        
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Operation Types</h5>

              <!-- List of OperationTypes -->
              <h3 th:if="${setOfOperationTypes.isEmpty()}">No operation types found</h3>
              <ul  th:if="${!setOfOperationTypes.isEmpty()}">
                <li th:each="operationType : ${setOfOperationTypes}">
                  <p th:text="${operationType.get('title')}"></p>
                </li>
              </ul>
              <!-- End List of OperationTypes -->

            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New operation type</h5>
              <form action="/s/new_operationtype_register" class="needs-validation" method="POST" novalidate>
              <label for="inpOperationTypeTitle" class="col-4 col-form-label">Title</label>
              <div class="col-md-8 col-lg-12">
                <input name="title" type="text" class="form-control" id="inpOperationTypeTitle" required>
                <div class="invalid-feedback">Please provide a title</div>
              </div>

              <div class="text-center">
                <br>
                <button type="button" class="btn btn-success btn-send-request">Create new operation type</button>
              </div>
            </form>
          </div>
        </div>
        </div>

      </div>
    </section>
  </main><!-- End #main -->

  <footer></footer>

  <script src="/js/app.js"></script>
</body>
</html>